html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f1f1f1;
}

:global{
    #root {
        height: 100%;
    }
}

:global {
    .hidden {
        display: none;
    }
}

* {
    font-family: '微软雅黑';
    box-sizing: border-box;
}