.hidden {
    display: none;
}

.fixed-btn-wrapper {
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    height: 60px;
    width: 60px;
    right: 40px;
    bottom: 40px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #F44336;
    font-size: 40px;
    display: table;
    z-index: 1000;
}

.fixed-btn-wrapper:hover {
    animation: circle 5s infinite linear;
}

@keyframes circle {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fixed-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}